// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

.gift-list {
    list-style: none;
    padding: 0;
}

a {
    color: theme("colors.mint");
}
